<a href="https://colab.research.google.com/github/Alsoosl/trabalhoELsem4/blob/main/programa001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MEU PRIMEIRO PROGRAMA SEMESTRE 3**

In [ ]:
#COMENTÁRIO PHYTON
A = 2
print(type(A))
B = 3
print(type(B))
SOMA = A+B
#Soma de strings (entre aspas) concactena os valores, tipo "2" + "3" = 23
print(SOMA)

<class 'int'>
<class 'int'>
5

In [ ]:
num = int(input("digite um número: "))
print(type(num))
quoc = num/2
resto = num%2
print("quociente: ", quoc)
print("resto", resto)

digite um número: 9
<class 'int'>
quociente:  4.5
resto 1

**ATIVIDADE EXEMPLO 2**

In [ ]:
base = float(input("indique o valor da base do triângulo, em metros: "))
altura = float(input("indique o valor da altura do triângulo, em metros: "))
area = float

area = (base*altura)/2

print("A área do tirângulo é de", area, "m")

indique o valor da base do triângulo, em metros: 8
indique o valor da altura do triângulo, em metros: 16
A área do tirângulo é de 64.0 m

**ATIVIDADE EXEMPLO 3**

In [ ]:
pol = float(input("Digite o valor em polegadas: "))
mil = pol*25.4
print(pol, "polegadas para milimetro é igual a", mil)

Digite o valor em polegadas: 2
2.0 polegadas para milimetro é igual a 50.8

**EXERCÍCIOS 03/09/2024**

In [ ]:
#1

r = float(input("digite o valor do raio:"))
v1 = 4*3.14159265*r*r*r
v2 = v1/3
print("O volume da esfera é:", v2)

digite o valor do raio:5
O volume da esfera é: 523.598775

In [ ]:
#2 NÃO SEI ONDE ESTÃO OS EXERCÍCIOS ;-;

**AULA 10/09/2024**

In [2]:
num = int(input("Digite um número inteiro: "))

if num % 2 == 0:
  print("O número", num, "é par.")
else:
  print("O número", num, "é impar")

Digite um número inteiro: 79
O número 79 é impar